*{box-sizing: border-box;}



body{
background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmkQSPf5AYLz8Q5W-YXafNi34bDmlFR0SGcg&usqp=CAU');
background-repeat:no-repeat;
width:1950px;

background-size:1960px 1200px;}
.a{color:white;}